---
Checks: >
    clang-analyzer-*,
    clang-diagnostic-*,
    modernize-avoid-c-arrays,
    modernize-loop-convert,
    modernize-make-shared,
    modernize-make-unique,
    modernize-use-auto,
    modernize-use-default-member-init
...
